Repository chrispinkney/cinesync, pull requests merged in 2023-09, with the labels that each got.

#15 Implement RemoveFieldsInterceptor to backend
  api/src/users/dtos/user.dto.ts
  api/src/users/interceptors/remove-fields.interceptor.ts
  api/src/users/users.controller.ts
  api/src/users/users.service.ts
Labels: backend, api

#18 Implement Authorization and Authentication in backend
  api/package.json
  api/src/guards/auth.guard.ts
  api/src/main.ts
  api/src/prisma/prisma.module.ts
  api/src/users/auth.service.ts
  api/src/users/decorators/current-user.decorator.ts
  api/src/users/dtos/signin-user.dto.ts
  api/src/users/interceptors/current-user.interceptor.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
  api/src/users/users.service.ts
Labels: backend, api

#21 Implement Admin role to the backend to protect routes
  api/package.json
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/guards/admin.guard.ts
  api/src/main.ts
  api/src/users/auth.service.ts
  api/src/users/dtos/user.dto.ts
  api/src/users/interceptors/current-user.interceptor.ts
  api/src/users/middlewares/current-user.middleware.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
  api/src/users/users.service.ts
Labels: backend, api

#24 Implement API testing
  .github/workflows/api_test.yml
  api/package.json
  api/src/app.controller.spec.ts
  api/src/app.module.ts
  api/src/users/auth.service.spec.ts
  api/src/users/auth.service.ts
  api/src/users/users.controller.spec.ts
  api/src/users/users.service.spec.ts
  api/test/app.e2e-spec.ts
  api/test/auth.e2e-spec.ts
Labels: backend, testing

#28 Enable local deployment for development
  README.md
  api/.gitignore
  api/prisma/migrations/20230926014057_20230925/migration.sql
  api/prisma/migrations/migration_lock.toml
  docker-compose.yml
Labels: api, hacktoberfest

#22 Add mui to frontend and Implement various components
  web/.gitignore
  web/package.json
  web/public/cinesync-icon.png
  web/public/cinesync-icon.svg
  web/public/cinesync-logo-dark.png
  web/public/cinesync-logo-dark.svg
  web/public/cinesync-logo-light.png
  web/public/cinesync-logo-light.svg
  web/src/app/about/page.tsx
  web/src/app/favicon.ico
  web/src/app/globals.css
  web/src/app/layout.tsx
  web/src/app/loading.module.css
  web/src/app/loading.tsx
  web/src/app/not-found.tsx
  web/src/app/page.module.css
  web/src/app/page.tsx
  web/src/components/Footer/Footer.tsx
  web/src/components/Header/Header.tsx
  web/src/components/Sidebar/Sidebar.tsx
  web/src/types.ts
  web/theme/EmotionCache.tsx
  web/theme/ThemeRegistry.tsx
  web/theme/theme.ts
Labels: frontend
