Repository chrispinkney/cinesync, pull requests merged in 2023-10, with the labels that each got.

#32 chore(github): Implement PR template file
  .github/pull_request_template.md
Labels: documentation, hacktoberfest-accepted

#31 Implement List service
  api/prisma/migrations/20230926042052_20230926/migration.sql
  api/prisma/migrations/20230929010645_/migration.sql
  api/prisma/migrations/20230929030149_/migration.sql
  api/prisma/schema.prisma
  api/src/guards/list.guard.ts
  api/src/lists/dtos/create-list.dto.ts
  api/src/lists/dtos/list.dto.ts
  api/src/lists/dtos/movie.dto.ts
  api/src/lists/dtos/update-list.dto.ts
  api/src/lists/interceptors/remove-list-fields.interceptor.ts
  api/src/lists/lists.controller.spec.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.module.ts
  api/src/lists/lists.service.spec.ts
  api/src/lists/lists.service.ts
Labels: backend, api, hacktoberfest-accepted

#39 Add about page, remove footer
  web/src/app/about/page.tsx
  web/src/app/layout.tsx
  web/src/components/Footer/Footer.tsx
Labels: frontend, hacktoberfest-accepted

#43 chore(api): change userId to uuid
  api/package.json
  api/prisma/migrations/20231013111556_/migration.sql
  api/prisma/schema.prisma
  api/src/guards/admin.guard.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.service.ts
  api/src/users/auth.service.spec.ts
  api/src/users/dtos/user.dto.ts
  api/src/users/users.controller.spec.ts
  api/src/users/users.controller.ts
  api/src/users/users.service.ts
Labels: backend, api, hacktoberfest-accepted

#42 Issue 38: Implement email service
  .github/workflows/api_test.yml
  api/package.json
  api/src/app.module.ts
  api/src/email/email.module.ts
  api/src/email/email.service.spec.ts
  api/src/email/email.service.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.module.ts
  api/src/users/users.controller.spec.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
Labels: backend, api, hacktoberfest-accepted

#44 Issue 5: Allow access to public lists, allow users to change list privacy
  api/src/guards/list.guard.ts
  api/src/lists/dtos/list.dto.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.service.ts
Labels: backend, api, hacktoberfest-accepted

#45 Refactor user/list service code to dao
  api/src/app.module.ts
  api/src/dao/list.dao.ts
  api/src/dao/user.dao.ts
  api/src/email/email.service.ts
  api/src/lists/dtos/create-list-return.dto.ts
  api/src/lists/dtos/update-list-privacy.dto.ts
  api/src/lists/interceptors/remove-list-create-fields.interceptor.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.module.ts
  api/src/lists/lists.service.ts
  api/src/users/auth.service.spec.ts
  api/src/users/auth.service.ts
  api/src/users/users.controller.spec.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
  api/src/users/users.service.spec.ts
  api/src/users/users.service.ts
  api/test/auth.e2e-spec.ts
Labels: backend, api, hacktoberfest-accepted

#48 refactor(api): refactor api to implement prisma error handler
  api/src/dao/list.dao.ts
  api/src/dao/user.dao.ts
  api/src/guards/list.guard.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.service.ts
  api/src/main.ts
  api/src/prisma/filter/prisma-client-exception.filter.ts
  api/src/users/auth.service.spec.ts
  api/src/users/auth.service.ts
  api/src/users/middlewares/current-user.middleware.ts
  api/src/users/users.controller.spec.ts
  api/src/users/users.service.ts
  api/src/utils/logLevels.ts
Labels: backend, api, hacktoberfest-accepted

#50 Issue 26: Update http status codes
  api/src/lists/lists.controller.ts
  api/src/users/users.controller.ts
  api/test/auth.e2e-spec.ts
Labels: backend, api, hacktoberfest-accepted

#60 Issue-46: Cascade list upon user deletion
  api/src/users/users.controller.spec.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
Labels: backend, api, hacktoberfest-accepted

#64 Issue-63: Implement JWT instead of cookies
  .github/workflows/api_test.yml
  api/package.json
  api/src/app.module.ts
  api/src/dao/list.dao.ts
  api/src/guards/admin.guard.ts
  api/src/guards/auth.guard.ts
  api/src/guards/jwt-auth.guard.ts
  api/src/guards/list.guard.ts
  api/src/guards/local-auth.guard.ts
  api/src/lists/lists.controller.ts
  api/src/users/auth.service.spec.ts
  api/src/users/auth.service.ts
  api/src/users/decorators/current-user.decorator.ts
  api/src/users/dtos/user.dto.ts
  api/src/users/jwt.strategy.ts
  api/src/users/local.strategy.ts
  api/src/users/middlewares/current-user.middleware.ts
  api/src/users/users.controller.spec.ts
  api/src/users/users.controller.ts
  api/src/users/users.module.ts
  api/test/auth.e2e-spec.ts
  docker-compose.yml
Labels: backend, api, hacktoberfest-accepted

#65 Issue-2: Add Frontend Auth
  web/package.json
  web/public/login-bgd.jpeg
  web/src/Context/store.tsx
  web/src/app/dashboard/about/page.tsx
  web/src/app/dashboard/layout.tsx
  web/src/app/dashboard/page.tsx
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/app/signout/page.tsx
  web/src/components/Header/Header.tsx
  web/src/components/Login/AuthMain.tsx
  web/src/components/Login/LoginCard.tsx
  web/src/components/Login/SignupCard.tsx
  web/src/components/Login/authMain.module.css
  web/src/components/Login/login-bgd.jpeg
  web/src/components/Login/loginValidation.ts
  web/src/components/Login/signupValidation.ts
  web/src/components/Sidebar/Sidebar.tsx
Labels: frontend, hacktoberfest-accepted

#62 Issue-11: Implement List (main) page
  .gitignore
  web/package.json
  web/src/app/dashboard/(lists)/list/[slug]/page.tsx
  web/src/app/dashboard/(lists)/lists/page.tsx
  web/src/components/List/ListActions.tsx
  web/src/components/List/ListCreation/ListCreationButton.tsx
  web/src/components/List/ListCreation/ListCreationModal.tsx
  web/src/components/List/ListDeleteConfirmationModal.tsx
  web/src/components/List/ListGrid/ListCard.tsx
  web/src/components/List/ListGrid/ListGrid.tsx
  web/src/components/List/ListShareModal.tsx
  web/src/components/List/MovieListTable/GenreDropdown.tsx
  web/src/components/List/MovieListTable/MovieListTable.tsx
  web/src/components/List/MovieListTable/MovieListTableContainer.tsx
  web/src/components/List/MovieListTable/MovieListTableEditToolbar.tsx
  web/src/context/lists.context.tsx
  web/src/context/movielist.context.tsx
  web/src/types.ts
  web/theme/theme.ts
Labels: frontend, hacktoberfest-accepted

#78 Issue-49: Header Logo Longest Contentful Paint
  web/src/components/Header/Header.tsx
Labels: bug, frontend, hacktoberfest-accepted

#79 refactor(web): Moved Avatar Logo menu to a child component
  web/src/components/Header/AvatarLogo.tsx
  web/src/components/Header/Header.tsx
Labels: enhancement, frontend, hacktoberfest-accepted

#80 Issue 12: Implement Meta Tags
  web/src/app/layout.tsx
Labels: enhancement, frontend, hacktoberfest-accepted

#83 Issue-72: Use uuids for `listId`, `movieId`
  api/prisma/migrations/20231018142046_/migration.sql
  api/prisma/migrations/20231019005006_/migration.sql
  api/prisma/schema.prisma
  api/src/dao/list.dao.ts
  api/src/email/email.service.ts
  api/src/guards/list.guard.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.service.ts
  web/src/app/dashboard/(lists)/list/[slug]/page.tsx
  web/src/components/List/ListActions.tsx
  web/src/components/List/ListCreation/ListCreationModal.tsx
  web/src/components/List/ListDeleteConfirmationModal.tsx
  web/src/components/List/ListShareModal.tsx
  web/src/context/movielist.context.tsx
  web/src/types.ts
Labels: backend, api, hacktoberfest-accepted

#61 Issue-58: Return list creator when fetching a list
  api/src/dao/list.dao.ts
  api/src/lists/dtos/create-list-return.dto.ts
Labels: backend, api, hacktoberfest-accepted

#87 Issue-40: Implement user avatar upload
  api/package.json
  api/prisma/migrations/20231019155434_/migration.sql
  api/prisma/migrations/20231019182442_/migration.sql
  api/prisma/schema.prisma
  api/src/dao/user.dao.ts
  api/src/users/users.controller.ts
  api/src/users/users.service.ts
Labels: backend, api, hacktoberfest-accepted

#91 Issue-76: Add `sharees` endpoint
  api/src/dao/list.dao.ts
  api/src/guards/list.guard.ts
  api/src/lists/dtos/update-list.dto.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.service.ts
Labels: backend, api, hacktoberfest-accepted

#96 Encrypt password before storing user
  api/src/users/auth.service.ts
  api/src/users/users.controller.ts
Labels: backend, api, hacktoberfest-accepted

#97 Issue-94: Extend Movie table
  api/prisma/migrations/20231020235902_/migration.sql
  api/prisma/schema.prisma
  api/src/dao/list.dao.ts
  api/src/lists/dtos/movie.dto.ts
Labels: backend, api, hacktoberfest-accepted

#99 added change to login tab on successful signup
  web/src/components/Login/AuthMain.tsx
  web/src/components/Login/SignupCard.tsx
Labels: bug, frontend, hacktoberfest-accepted

#89 Issue-51: Movie form autopopulation when adding to a List
  web/package.json
  web/public/tmdb-primary-long.svg
  web/src/app/dashboard/about/page.tsx
  web/src/components/List/ListDeleteConfirmationModal.tsx
  web/src/components/List/ListGrid/ListCard.tsx
  web/src/components/List/ListShareModal.tsx
  web/src/components/List/MovieCard/MovieCard.tsx
  web/src/components/List/MovieListTable/GenreDisplay.tsx
  web/src/components/List/MovieListTable/GenreDropdown.tsx
  web/src/components/List/MovieListTable/MovieAddModal.tsx
  web/src/components/List/MovieListTable/MovieListTable.tsx
  web/src/components/List/MovieListTable/MovieListTableEditToolbar.tsx
  web/src/context/movielist.context.tsx
  web/src/types.ts
  web/src/utils/tmdb-api.ts
  web/theme/theme.ts
Labels: enhancement, frontend, hacktoberfest-accepted

#102 Issue-101: Add Key Property to Add Movie Skeleton Components
  web/src/components/List/MovieListTable/MovieAddModal.tsx
Labels: bug, frontend, hacktoberfest-accepted

#103 fix(web): add new movie to top of movie list
  web/src/components/List/MovieListTable/MovieListTable.tsx
Labels: bug, frontend, hacktoberfest-accepted

#108 fix(web): fix list context useEffect() dependency
  web/src/context/lists.context.tsx
  web/src/context/movielist.context.tsx
Labels: bug, frontend, hacktoberfest-accepted

#106 Issue-93: Implement fetch utility functions
  web/src/app/page.tsx
  web/src/components/Header/AvatarLogo.tsx
  web/src/components/List/ListCreation/ListCreationModal.tsx
  web/src/components/List/ListDeleteConfirmationModal.tsx
  web/src/components/List/ListShareModal.tsx
  web/src/components/List/MovieListTable/MovieAddModal.tsx
  web/src/components/List/MovieListTable/MovieListTable.tsx
  web/src/components/List/MovieListTable/MovieListTableEditToolbar.tsx
  web/src/components/Login/SignupCard.tsx
  web/src/context/lists.context.tsx
  web/src/context/movielist.context.tsx
  web/src/types.ts
  web/src/utils/cinesync-api/fetch-list.ts
  web/src/utils/cinesync-api/fetch-user.ts
  web/src/utils/cinesync-api/fetch.ts
  web/src/utils/tmdb-api/fetch.ts
Labels: frontend, hacktoberfest-accepted

#115 Issue-98: Redesign Movielist Page
  web/public/imdb-logo-disabled.svg
  web/public/imdb-logo.svg
  web/src/app/dashboard/(lists)/list/[slug]/page.tsx
  web/src/components/List/ListActions.tsx
  web/src/components/List/ListCreation/ListCreationModal.tsx
  web/src/components/List/ListDeleteConfirmationModal.tsx
  web/src/components/List/ListGrid/ListCard.tsx
  web/src/components/List/ListShareModal.tsx
  web/src/components/List/MovieListCard/MovieActions.tsx
  web/src/components/List/MovieListCard/MovieListCard.tsx
  web/src/components/List/MovieListCard/RatingDisplay.tsx
  web/src/components/List/MovieListGrid/MovieListContainer.tsx
  web/src/components/List/MovieListGrid/MovieListGrid.tsx
  web/src/components/List/MovieListGrid/MovieListGridHeader.tsx
  web/src/components/List/MovieListGrid/MovieListTitle.tsx
  web/src/components/List/MovieListTable/GenreDisplay.tsx
  web/src/components/List/MovieListTable/MovieListTable.tsx
  web/src/components/List/MovieListTable/MovieListTableContainer.tsx
  web/src/components/List/MovieListTable/MovieListTableEditToolbar.tsx
  web/src/components/List/MovieSearch/MovieAddModal.tsx
  web/src/components/List/MovieSearch/MovieCard.tsx
  web/src/components/Sidebar/Sidebar.tsx
  web/src/context/movielist.context.tsx
  web/src/types.ts
Labels: enhancement, frontend, hacktoberfest-accepted

#111 Issue-52: Implement Friendship
  README.md
  api/package.json
  api/prisma/migrations/20231022234349_/migration.sql
  api/prisma/migrations/20231024014859_/migration.sql
  api/prisma/schema.prisma
  api/src/dao/user.dao.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.module.ts
  api/src/lists/lists.service.ts
  api/src/users/users.controller.ts
  api/src/users/users.service.ts
Labels: backend, api, hacktoberfest-accepted

#109 Issue-55: Add list comments
  api/prisma/migrations/20231023194423_/migration.sql
  api/prisma/schema.prisma
  api/src/dao/list.dao.ts
  api/src/dao/user.dao.ts
  api/src/guards/comment-auth.guard.ts
  api/src/guards/list.guard.ts
  api/src/lists/daos/comment.dao.ts
  api/src/lists/dtos/comments.dto.ts
  api/src/lists/dtos/create-comment.dto.ts
  api/src/lists/dtos/create-list-return.dto.ts
  api/src/lists/dtos/update-comment.dto.ts
  api/src/lists/lists.controller.ts
  api/src/lists/lists.module.ts
  api/src/lists/lists.service.ts
  api/src/users/users.module.ts
  api/src/users/users.service.ts
Labels: backend, api, hacktoberfest-accepted
